/* STYLES ADAPTED FROM https://github.com/rajshekhar26/cleanfolio/blob/main/src/components/ProjectContainer/ProjectContainer.css */
.nav__list {
    margin-right: 1.5em;
    display: flex;
}

.nav__list-item {
  margin-left: 1.5em;
}