/* STYLES ADAPTED FROM https://github.com/rajshekhar26/cleanfolio/blob/main/src/components/ProjectContainer/ProjectContainer.css */
.project-card {
    display: flex;
    width: 33%;
    flex-direction: column;
    text-align: start;
    margin: 1em 1.5em;
    padding: 1.5em 2.3em 1em;
    box-shadow: var(--shadow);
}

.project-title {
    margin: 1em 0;
}

.project-stack {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    margin: 1em 0;
}

.project-stack-item {
    margin: 0.6em 0.6em 0.6em 0;
    font-weight: bold;
    font-size: 0.8rem;
    color: var(--clr-fg-alt);
}